body{
    background-color: #414141;
}


.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
}

.left, .right {
    flex: 1;
    margin: 10px;
}

/* image */
.hall-image, .companylogo {
    width: 100%; 
    height: auto;
    max-width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
}

h1, p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px; 
    line-height: 1.6;
}

/* address */
.address {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    margin-top: 30px;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 22px;
    }
    p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse; 
        text-align: center; 
        padding: 10px; 
    }
    .left, .right {
        width: 100%;
        padding: 10px 0; 
    }
    .hall-image, .logo {
        max-width: 100%; 
    }
}
