.connexion {
    width: 30% ;
    top:50%;
    left:50%;

    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #252B33 ;
    transform:translate(-50%,-50%);


    position: fixed;
    z-index: 1000;
    display: none;

}

.connexion .title2 {
    margin: 5% auto 2%;
    font-weight: bold;
    font-size: 150%;
    text-decoration: underline;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
}

.connexion .content .input {
    text-align: center;
    margin: 2% auto 0%;
}

.connexion .content .title {
    margin-left: 12%;
    margin-top: 4%;
}

.connexion .content input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.connexion .content div{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 6%;
}

.connexion .content Button {
    width: 35%;
    padding: 8px;
    background-color: #28BED0;
    color: #fff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.connexion .content Button:hover {
    background-color: #149ead;
}

@media screen and (max-width: 850px) {
    .container {
        max-width: 70%;
    }
}
