/* css for home page */

.wrapper{
    margin:  0 auto;
    width: 1200px;
}


body {
    background-color: #fff;
    color: #fff;
}

/* === Header Part === */
.header {
    background-color: #252B3D;
    height: 125px;
}
.header .wrapper {
    padding-top: 8px;

    display: flex;
}


    /* logo zone */
.logo a {
    display: block;
    width: 180px;
    height: 110px;
    background-image: url(../images/logo.png);

    /*hide text*/
    font-size: 0;
}

/* navigation zone*/
.nav {
    margin-left: 31px;
}

.nav ul{
    display: flex;
    margin-top: 40px;
}
.nav li {
    margin-right: 23px;
}

.nav li a {
    display: block;
    line-height: 30px;
    font-size: 30px;
    color:#fff;
}


