.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left:0px;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
    display: none;
}
.inscription {
    width: 30% ;

    top:50%;
    left:50%;

    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #252B33 ;
    transform:translate(-50%,-50%);


    position: fixed;
    z-index: 1000;
    display: none;

}

.inscription .title2 {
    margin: 5% auto 2%;
    font-weight: bold;
    font-size: 150%;
    text-decoration: underline;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
}


.inscription .content {
    height: 50%;
}

.inscription .content .condition{
    margin:3% 0 6% 12%;
}
.inscription .content .input {
    text-align: center;
    margin: 2% auto 0%;
}
.inscription .content .verifMail {
    margin-left: 10%;
    margin-right: 10%
}
.inscription .content .btnMail {
    width: 35%;
    padding: 8px;
    background-color: #28BED0;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10%
}
.inscription .content .inputVerif {
    display: flex;
    margin-top: 4%;
}

.inscription .content .title {
    margin-left: 12%;
    margin-top: 4%;
}

.inscription .content input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.inscription .content div{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 6%;
}

.inscription .content Button {
    width: 35%;
    padding: 8px;
    background-color: #28BED0;
    color: #fff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.inscription .content Button:hover {
    background-color: #149ead;
}

@media screen and (max-width: 850px) {
    .container {
        max-width: 70%;
    }
}
