@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif; /* Polices améliorées pour une meilleure lisibilité */
    background-color: #1b1b1b;
    background-image: radial-gradient(circle, #333, #1b1b1b); /* Effet de fond subtil */
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Amélioration de la lisibilité */
}

header, footer {
    background-color: #222;
    padding: 15px 20px; /* Padding un peu plus généreux */
    text-align: center;
}

header nav, footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px; /* Espacement augmenté pour une meilleure navigation */
    padding: 8px 15px;
    border-radius: 50px; /* Boutons plus arrondis */
    transition: background-color 0.5s ease-in-out; /* Transition plus douce */
}

nav a:hover {
    background-color: #444; /* Couleur plus claire au survol */
    color: #ddd; /* Légère modification de la couleur du texte */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px; /* Espacement accru */
}

section {
    width: 80%;
    background-color: #333;
    margin: 25px 0; /* Marge accrue */
    padding: 20px; /* Padding accru */
    border-radius: 15px; /* Coins plus arrondis */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Ombre plus douce et plus profonde */
}

section.forum-half {
    width: 50%; /* Largeur ajustée pour une meilleure proportion */
    margin: 30px auto; /* Centrage plus précis */
}

section.news .header, section.forums .header {
    background-color: #E0E0E0; /* Couleur de fond légèrement plus claire pour plus de contraste */
    color: #222; /* Couleur de texte plus sombre pour améliorer le contraste */
}

button {
    padding: 12px 25px; /* Boutons plus grands pour une meilleure accessibilité */
    background-color: #666; /* Couleur de fond légèrement plus claire */
    color: white;
    border: none;
    border-radius: 8px; /* Coins plus arrondis */
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Ajout d'une animation de transformation */
}

button:hover {
    background-color: #888; /* Changement de couleur au survol */
    transform: translateY(-2px); /* Léger déplacement vers le haut au survol */
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Espacement augmenté */
}
